<div class="card border-info mb-3 mx-auto" style="max-width: 25rems;">
    <div class="card-header">Add Note View</div>
    <div class="card-body">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control input" placeholder="Note Id" [(ngModel)]="NoteData.Id" disabled="">
        </div>
        <div class="col">
          <input type="text" class="form-control input" placeholder="Note Title" [(ngModel)]="NoteData.title">
        </div>
      </div>
      <div class="form-group mt-3">
        <textarea class="form-control input" placeholder="Note Content" [(ngModel)]="NoteData.content" ></textarea>
      </div>
      <button type="button" class="btn btn-light" (click)="AddNote()" >Save</button>
    </div>
  </div>
